[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/archy/desk/Languages.desktop]
row=13
col=0

[/home/archy/desk/Toshiba (copy 1).desktop]
row=11
col=0

[/home/archy/desk/Remix.desktop]
row=11
col=11

[/home/archy/desk/off.desktop]
row=13
col=11

[/home/archy/desk/lock.desktop]
row=12
col=11

[/home/archy/desk/Temp.desktop]
row=12
col=0

