[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/archy/desk/lock.desktop]
row=4
col=11

[/home/archy/desk/Languages.desktop]
row=4
col=0

[/home/archy/desk/Toshiba (copy 1).desktop]
row=2
col=0

[/home/archy/desk/Windows 10.desktop]
row=2
col=11

[/home/archy/desk/off.desktop]
row=3
col=11

[/home/archy/desk/Temp.desktop]
row=3
col=0

